In [1]:
import pandas as pd

raw = pd.read_csv('../data/raw/bremen.csv')

raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585591 entries, 0 to 3585590
Data columns (total 14 columns):
 #   Column        Dtype
---  ------        -----
 0   Unnamed: 0    int64
 1   p_spot        bool
 2   p_place_type  int64
 3   datetime      object
 4   b_number      int64
 5   trip          object
 6   p_uid         int64
 7   p_bikes       int64
 8   p_lat         float64
 9   b_bike_type   int64
 10  p_name        object
 11  p_number      float64
 12  p_lng         float64
 13  p_bike        bool
dtypes: bool(2), float64(3), int64(6), object(3)
memory usage: 335.1+ MB

In [3]:
raw.sample(5)

,Unnamed: 0,p_spot,p_place_type,datetime,b_number,trip,p_uid,p_bikes,p_lat,b_bike_type,p_name,p_number,p_lng,p_bike
1955221,1955221,False,12,2019-08-14 02:02:00,54018,end,20443882,1,49.007991,71,BIKE 54018,0.0,8.441022,True
695894,695894,True,0,2019-08-15 15:00:00,90386,start,66146,6,49.440019,71,Aufseßplatz,4649.0,11.080526,False
2806757,2806757,False,12,2019-11-01 09:48:00,20679,end,24333495,1,53.076431,71,BIKE 20679,0.0,8.886413,True
2889744,2889744,False,12,2019-12-17 23:59:00,20638,last,26113535,1,53.077329,71,BIKE 20638,0.0,8.896274,True
637543,637543,False,12,2019-06-20 19:53:00,90027,end,17723141,1,49.450538,71,BIKE 90027,0.0,11.076410,True